<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
</head>
<body>
    <h1 style="text-align: center; color: red" >List product</h1>
    <form th:action="@{/product/search}" method="get">
        <label for="name">Name</label>
        <input type="text" id="name" name="product_name" />
        <input type="submit" value="Search" />
    </form>
    <table border="1" style="border-collapse: collapse; width: auto">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>DateRelease</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        <tr th:each="p: ${products}" th:object="${p}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{category.categoryName}"></td>
            <td th:text="*{#numbers.formatCurrency(price)}"></td>
            <td th:text="*{#dates.format(dateRelease, 'dd/MM/yyyy')}"></td>
            <td th:text="*{quantity}"></td>
            <td>
                <a th:href="@{/product/detail/{id}(id=*{id})}">Detail</a>
                <a th:href="@{/product/create(id=*{id})}">Create</a>
                <a th:href="@{/product/update(id=*{id})}">Update</a>
                <a th:href="@{/product/delete/{id}(id=*{id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>