* {
    font-family: "Times New Roman";
    font-size: 16px;
    text-align: left;
}

h1 {
    color: white;
    background: cornflowerblue;
    text-align: center;
    height: 80px;
    width: auto;
    padding-top: 50px;
    font-size: 35px;

}

button {
    width: 150px;
    height: 40px;
    background: aliceblue;
    outline: none;
    border: none;
    text-align: center
}
