<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Remove Blog</h3>
<p>
    <a th:href="@{/webapp/WEB-INF/views/blog}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blog/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Head</label>
            <input type="text" th:field="*{head}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="number" th:field="*{content}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>