<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <img src="https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/CodeGym_square/original.png?1595884317" style="width: 100px; height: 100px; float: left">
</div>
<div>
    <a href="home.html">Home</a>
    <a href="employee.html">Employee</a>
    <a href="customer.html">Customer</a>
    <a href="service.html">Service</a>
    <a href="contract.html">Contract</a>
</div>

</body>
</html>